# Ignore everything

*

# except specified dotfiles

!.gitignore

!README.md

# vim stuff
!.vimrc
!.vim/
!.vim/after/
!.vim/after/plugin/
!.vim/after/plugin/noAutoComments.vim

!.vim/bundle/
!.vim/bundle/taglist/
!.vim/bundle/taglist/doc/*
!.vim/bundle/taglist/plugin/*

# keeping these synced could lead to files being exposed
!.vim/colors/
!.vim/colors/*

# all my zsh stuff, with oh-my-zsh repository cloned
!.zsh_custom/
!.zsh_custom/*
!.zsh_custom/themes
!.zsh_custom/themes/*

# tmux stuff
!.tmux.conf

# Ubuntu stuff
!.gnome-terminal-zenburn.sh

# Cygwin/Windows stuff
!.minttyrc
!.zenburn.vssettings
