# Ignore everything, except specified dotfiles

*

!.gitignore

!README.md

# vim stuff
!.vimrc
!.vim/
!.vim/backup/
!.vim/swp/
!.vim/backup/placeholder.txt
!.vim/swp/placeholder.txt
!.vim/colors/
!.vim/colors/*

# all my zsh stuff, with oh-my-zsh repository cloned
!.oh-my-zsh/custom/jreese.zsh
!.oh-my-zsh/custom/themes/
!.oh-my-zsh/custom/themes/*

# tmux stuff
!.tmux.conf

# Ubuntu stuff
!.gnome-terminal-zenburn.sh

# Cygwin stuff
!.minttyrc
!.zenburn.vssettings
