# Ignore everything, except specified dotfiles

*

!.gitignore
!.oh-my-zsh

!README.md

# vim stuff
!.vimrc
!.vim/
!.vim/backup/
!.vim/swp/
!.vim/backup/placeholder.txt
!.vim/swp/placeholder.txt
!.vim/colors/
!.vim/colors/*

# all my zsh stuff, with oh-my-zsh repository cloned
!.zsh_custom/
!.zsh_custom/*
!.zsh_custom/themes
!.zsh_custom/themes/*

# tmux stuff
!.tmux.conf

# Ubuntu stuff
!.gnome-terminal-zenburn.sh

# Cygwin/Windows stuff
!.minttyrc
!.zenburn.vssettings
